---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'

// Content
// - Hero Image
import heroImage from '../../../assets/hero-02.png'
// - Avatars
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="1" />
		<Col span="10">
			<!-- <ChipNotification radius="rounded-full" classes="mb-6">
				<strong>30K+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification> -->
			<h1>
				<strong>Maximize</strong> asset value<br />
				<strong>Reduce</strong> downtime <span class="hidden md:inline-block">&amp; costs</span>
				<br>
				<strong>Optimize</strong> performance
			</h1>

			<h2 class="mb-12 lg:mb-6">
				Cloud-based 
				<a href="/features#cmms">CMMS</a>, 
				<a href="/features#apm">APM</a> and 
				<a href="/features#analytics">Analytics</a> 
				platform</h2>

			<p class="text-lg">
				Single integrated platform with support for telemetry and analytics that aggregates critical
				data from assets, putting deep insights at asset operator's fingertips to predict &amp;
				resolve asset issues proactively.
			</p>

			<p>
				<Button target='_self' size="lg" link="/pricing">Get started for free</Button>
				<Button
					size="lg"
					classes="ms-2"
					link="https://calendly.com/adhamankar/assetpulse-product-offering"
				>
					Book a demo
				</Button>
			</p>
			<Image
				src={heroImage}
				alt="Assetick. Predict and resolve asset performance issues"
				class="translate-y-8 rounded-3xl shadow-2xl shadow-neutral-400 dark:shadow-neutral-950"
				format="webp"
			/></Col
		>
		<Col span="2" />
	</Row>
</Section>
<style>
	.card__icon {
		@apply inline-block size-6 font-bold text-pink-700;
	}
</style>
